# Core LangChain stack
langchain-community
langchain-huggingface
langchain-groq
langchain-core
langchain-text-splitters
langgraph

# Vector DB and PDF handling
chromadb
pypdf

# Embeddings and LLM support
sentence-transformers
python-dotenv

# Search tool
duckduckgo-search
